[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/hivickylai/hugo-theme-introduction.git
[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/hivickylai/hugo-theme-introduction.git
[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/detox"]
	path = themes/detox
	url = https://github.com/allnightgrocery/hugo-theme-blueberry-detox.git
[submodule "themes/vec"]
	path = themes/vec
	url = https://github.com/IvanChou/hugo-theme-vec
